{% extends 'enuda_mag/base.html' %}
{% load static %}
{% block slider %}
    {% include "enuda_mag/slider.html" %}
{% endblock %}

{% block content %}
<!-- Section wrapper -->
<div class="cs-section-wrapper with-padding">
    <div class="cs-container">
        <!-- Main content -->
        <div class="cs-main-content cs-sidebar-on-the-right">
            <!-- Section title -->
            <div class="cs-section-title">
                <h3>Lifestyle</h3>
                <a href="blog-category-list.html">View all</a>
            </div><!-- end .cs-section-title -->
            <!-- Blog list -->
            <div class="cs-blog-list">
                <!-- Post item -->
                {% for blog_post in blog_posts %}
                <div class="cs-post-item">
                    <div class="cs-post-thumb">
                        <a href="#">
                            <div class="cs-post-rating" title="Rated 3.5 of 5">
                                <div>
                                    <div class="cs-stars-color"></div>
                                    <div class="cs-stars-active-color" style="width: 70%"></div>
                                </div>
                            </div>
                            <img src="{{ blog_post.image.mid_size.url }}" alt="Divit">
                        </a>
                    </div>
                    <div class="cs-post-details">
                        <div class="cs-clearfix">
                            <div class="cs-post-categories">
                                <h5><a href="blog-category-3-columns.html">Travel</a></h5>
                            </div>
                            <div class="cs-post-meta">                                
                                <span><a href="page-author.html"><i class="fa fa-user" aria-hidden="true"></i> {{blog_post.user.first_name}} {{blog_post.user.last_name}}</a></span>
                                <span><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>{{blog_post.get_date}}</a></span>
                                <span><a href="{% url 'enuda_mag:post_detail' slug=blog_post.slug %}"><i class="fa fa-comments" aria-hidden="true"></i>{{blog_post.comments.count}}</a></span>
                                <span><a href="#"><i class="fa fa-bolt" aria-hidden="true"></i> 956</a></span>
                            </div>
                        </div>
                        <div class="cs-post-title">
                            <h3><a href="{% url 'enuda_mag:post_detail' slug=blog_post.slug %}">{{blog_post.title | safe}}</a></h3>
                        </div>
                        <div class="cs-post-excerpt">
                            <p>{{blog_post.content | truncatechars:900 | safe}}</p>
                        </div>
                        <div class="cs-post-readmore">
                            <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div><!-- end .cs-post-item -->
                {% endfor %}
            </div><!-- end .cs-blog-list -->
        </div><!-- end .cs-main-content -->
        <!-- Main sidebar -->
        <div class="cs-main-sidebar cs-sticky-sidebar">
            <!-- Search widget -->
            <div class="widget widget_search">
                <div class="widget-title"><h4>Search</h4></div>
                <form>
                    <input type="search" name="Search">
                </form>
            </div><!-- end .widget_search -->
            <!-- Post widget -->
            {% include "enuda_mag/partials/post_list.html" %}
            <!-- end .widget_post_list -->
        </div><!-- end .main-sidebar -->
    </div>
</div><!-- end .cs-section-wrapper -->

<!-- Section wrapper -->
<div class="cs-section-wrapper with-padding with-background">
    <div class="cs-container">
        <!-- Main content -->
        <div class="cs-main-content cs-full-width">
            <!-- Carousel slider -->
            <div class="cs-carousel-slider">
                <!-- Controls -->
                <div class="swiper-button-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                <div class="swiper-button-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                <!-- Sswiper -->
                <div class="swiper-container" data-slides-visible="2">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slide -->
                        <div class="swiper-slide">
                            <!-- Post item -->
                            <div class="cs-post-item">
                                <div class="cs-post-thumb">
                                    <a href="#">
                                        <div class="cs-post-icon">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </div>
                                        <img src="{% static 'enuda_mag/demo/carousel-slider/1.jpg' %}" alt="Divit">
                                    </a>
                                </div>
                                <div class="cs-post-details">
                                    <div class="cs-clearfix">
                                        <div class="cs-post-categories">
                                            <h5><a href="blog-category-3-columns.html">Travel</a></h5>
                                        </div>
                                        <div class="cs-post-meta"> 
                                            <span><a href="{% static 'enuda_mag/demo/carousel-slider/2.jpg' %}"><i class="fa fa-clock-o" aria-hidden="true"></i> Sep 4, 2017</a></span>
                                        </div>
                                    </div>
                                    <div class="cs-post-title">
                                        <h3><a href="#">The Secret Shame of People Who Have Bill Cosby Tattoos</a></h3>
                                    </div>
                                </div>
                            </div><!-- end .cs-post-item -->
                        </div><!-- end .slide -->
                        <!-- Slide -->
                        <div class="swiper-slide">
                            <!-- Post item -->
                            <div class="cs-post-item">
                                <div class="cs-post-thumb">
                                    <a href="#">
                                        <div class="cs-post-rating" title="Rated 4 of 5">
                                            <div>
                                                <div class="cs-stars-color"></div>
                                                <div class="cs-stars-active-color" style="width: 80%"></div>
                                            </div>
                                        </div>
                                        <img src="{% static 'enuda_mag/demo/carousel-slider/2.jpg' %}" alt="Divit">
                                    </a>
                                </div>
                                <div class="cs-post-details">
                                    <div class="cs-clearfix">
                                        <div class="cs-post-categories">
                                            <h5><a href="blog-category-3-columns.html">Music</a></h5>
                                        </div>
                                        <div class="cs-post-meta"> 
                                            <span><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Jul 18, 2017</a></span>
                                        </div>
                                    </div>
                                    <div class="cs-post-title">
                                        <h3><a href="#">Durant Won't Let Anybody Say James Is Better Than Him</a></h3>
                                    </div>
                                </div>
                            </div><!-- end .cs-post-item -->
                        </div><!-- end .slide -->
                        <!-- Slide -->
                        <div class="swiper-slide">
                            <!-- Post item -->
                            <div class="cs-post-item">
                                <div class="cs-post-thumb">
                                    <a href="#">
                                        <img src="{% static 'enuda_mag/demo/carousel-slider/1.jpg' %}" alt="Divit">
                                    </a>
                                </div>
                                <div class="cs-post-details">
                                    <div class="cs-clearfix">
                                        <div class="cs-post-categories">
                                            <h5><a href="blog-category-3-columns.html">Tv</a></h5>
                                        </div>
                                        <div class="cs-post-meta"> 
                                            <span><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Dec 1, 2017</a></span>
                                        </div>
                                    </div>
                                    <div class="cs-post-title">
                                        <h3><a href="#">Paris Looks Golden After LA Agrees On 2028 Games</a></h3>
                                    </div>
                                </div>
                            </div><!-- end .cs-post-item -->
                        </div><!-- end .slide -->
                        <!-- Slide -->
                        <div class="swiper-slide">
                            <!-- Post item -->
                            <div class="cs-post-item">
                                <div class="cs-post-thumb">
                                    <a href="#">
                                        <img src="{% static 'enuda_mag/demo/carousel-slider/4.jpg' %}" alt="Divit">
                                    </a>
                                </div>
                                <div class="cs-post-details">
                                    <div class="cs-clearfix">
                                        <div class="cs-post-categories">
                                            <h5><a href="blog-category-3-columns.html">Food</a></h5>
                                        </div>
                                        <div class="cs-post-meta"> 
                                            <span><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> May 24, 2017</a></span>
                                        </div>
                                    </div>
                                    <div class="cs-post-title">
                                        <h3><a href="#">James and Westbrook Are Working Out Together In Vegas</a></h3>
                                    </div>
                                </div>
                            </div><!-- end .cs-post-item -->
                        </div><!-- end .slide -->
                    </div>
                    <!-- Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div><!-- end .cs-carousel-slider -->
        </div><!-- end .cs-main-content -->
    </div>
</div><!-- end .cs-section-wrapper -->

<!-- Section wrapper -->
<div class="cs-section-wrapper with-padding">
    <div class="cs-container">
        <!-- Main content -->
        <div class="cs-main-content cs-sidebar-on-the-right">
            <!-- Blog two columns -->
            <div class="cs-blog-two-columns">
                <!-- Post item -->
                <div class="cs-post-item first">
                    <div class="cs-post-thumb">
                        <a href="#">
                            <div class="cs-post-icon">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </div>
                            <div class="cs-post-rating" title="Rated 2 of 5">
                                <div>
                                    <div class="cs-stars-color"></div>
                                    <div class="cs-stars-active-color" style="width: 40%"></div>
                                </div>
                            </div>
                            <img src="{% static 'enuda_mag/demo/blog/column-1.jpg' %}" alt="Divit">
                        </a>
                    </div>
                    <div class="cs-post-details">
                        <div class="cs-clearfix">
                            <div class="cs-post-categories">
                                <h5><a href="blog-category-list.html">Art</a></h5>
                            </div>
                            <div class="cs-post-meta">                                
                                <span><a href="page-author.html"><i class="fa fa-user" aria-hidden="true"></i> John Doe</a></span>
                                <span><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Sep 4, 2017</a></span>
                                <span><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 13</a></span>
                                <span><a href="#"><i class="fa fa-bolt" aria-hidden="true"></i> 956</a></span>
                            </div>
                        </div>
                        <div class="cs-post-title">
                            <h3><a href="#">The Spaniard made his first appearance against Bayern Munich</a></h3>
                        </div>
                        <div class="cs-post-excerpt">
                            <p>Vestibulum bibendum arcu nec sagittis efficitur. Etiam eget lacus tincidunt, ultricies dui quis.</p>
                        </div>
                        <div class="cs-post-readmore">
                            <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div><!-- end .cs-post-item -->
                <!-- Post item -->
                <div class="cs-post-item last">
                    <div class="cs-post-thumb">
                        <a href="#">
                            <img src="{% static 'enuda_mag/demo/blog/column-2.jpg' %}" alt="Divit">
                        </a>
                    </div>
                    <div class="cs-post-details">
                        <div class="cs-clearfix">
                            <div class="cs-post-categories">
                                <h5><a href="blog-category-list.html">Design</a></h5>
                                <h5><a href="blog-category-list.html">Tv</a></h5>
                            </div>
                            <div class="cs-post-meta">                                
                                <span><a href="page-author.html"><i class="fa fa-user" aria-hidden="true"></i> Smith R.</a></span>
                                <span><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Sep 4, 2017</a></span>
                                <span><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 13</a></span>
                                <span><a href="#"><i class="fa fa-bolt" aria-hidden="true"></i> 956</a></span>
                            </div>
                        </div>
                        <div class="cs-post-title">
                            <h3><a href="#">Bruce Arena's team beat Costa Rica to reach the final in Santa Clara</a></h3>
                        </div>
                        <div class="cs-post-excerpt">
                            <p>Vestibulum bibendum arcu nec sagittis efficitur. Etiam eget lacus tincidunt, ultricies dui quis.</p>
                        </div>
                        <div class="cs-post-readmore">
                            <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div><!-- end .cs-post-item -->
                <!-- Post item -->
                <div class="cs-post-item first">
                    <div class="cs-post-thumb">
                        <a href="#">
                            <div class="cs-post-rating" title="Rated 5 of 5">
                                <div>
                                    <div class="cs-stars-color"></div>
                                    <div class="cs-stars-active-color" style="width: 100%"></div>
                                </div>
                            </div>
                            <img src="{% static 'enuda_mag/demo/blog/list-3.jpg' %}" alt="Divit">
                        </a>
                    </div>
                    <div class="cs-post-details">
                        <div class="cs-clearfix">
                            <div class="cs-post-categories">
                                <h5><a href="blog-category-list.html">Entertainment</a></h5>
                            </div>
                            <div class="cs-post-meta">                                
                                <span><a href="page-author.html"><i class="fa fa-user" aria-hidden="true"></i> James K.</a></span>
                                <span><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Sep 4, 2017</a></span>
                                <span><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 13</a></span>
                                <span><a href="#"><i class="fa fa-bolt" aria-hidden="true"></i> 956</a></span>
                            </div>
                        </div>
                        <div class="cs-post-title">
                            <h3><a href="#">Chelsea Recovers From £88M Rejection, Liverpool Rocked</a></h3>
                        </div>
                        <div class="cs-post-excerpt">
                            <p>Vestibulum bibendum arcu nec sagittis efficitur. Etiam eget lacus tincidunt, ultricies dui quis.</p>
                        </div>
                        <div class="cs-post-readmore">
                            <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div><!-- end .cs-post-item -->
                <!-- Post item -->
                <div class="cs-post-item last">
                    <div class="cs-post-thumb">
                        <a href="#">
                            <img src="{% static 'enuda_mag/demo/blog/list-4.jpg' %}" alt="Divit">
                        </a>
                    </div>
                    <div class="cs-post-details">
                        <div class="cs-clearfix">
                            <div class="cs-post-categories">
                                <h5><a href="blog-category-list.html">Fashion</a></h5>
                            </div>
                            <div class="cs-post-meta">                                
                                <span><a href="page-author.html"><i class="fa fa-user" aria-hidden="true"></i> Smith R.</a></span>
                                <span><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Sep 4, 2017</a></span>
                                <span><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 13</a></span>
                                <span><a href="#"><i class="fa fa-bolt" aria-hidden="true"></i> 956</a></span>
                            </div>
                        </div>
                        <div class="cs-post-title">
                            <h3><a href="#">Can Koby Altman Make James and Cavaliers Smile Again?</a></h3>
                        </div>
                        <div class="cs-post-excerpt">
                            <p>Vestibulum bibendum arcu nec sagittis efficitur. Etiam eget lacus tincidunt, ultricies dui quis.</p>
                        </div>
                        <div class="cs-post-readmore">
                            <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div><!-- end .cs-post-item -->
                <!-- Post item -->
                <div class="cs-post-item first">
                    <div class="cs-post-thumb">
                        <a href="#">
                            <img src="{% static 'enuda_mag/demo/blog/list-6.jpg' %}" alt="Divit">
                        </a>
                    </div>
                    <div class="cs-post-details">
                        <div class="cs-clearfix">
                            <div class="cs-post-categories">
                                <h5><a href="blog-category-list.html">Sport</a></h5>
                            </div>
                            <div class="cs-post-meta">                                
                                <span><a href="page-author.html"><i class="fa fa-user" aria-hidden="true"></i> James K.</a></span>
                                <span><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Sep 4, 2017</a></span>
                                <span><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 13</a></span>
                                <span><a href="#"><i class="fa fa-bolt" aria-hidden="true"></i> 956</a></span>
                            </div>
                        </div>
                        <div class="cs-post-title">
                            <h3><a href="#">Man Utd: Why Mourinho's Transfer Window May Be Over</a></h3>
                        </div>
                        <div class="cs-post-excerpt">
                            <p>Vestibulum bibendum arcu nec sagittis efficitur. Etiam eget lacus tincidunt, ultricies dui quis.</p>
                        </div>
                        <div class="cs-post-readmore">
                            <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div><!-- end .cs-post-item -->
                <!-- Post item -->
                <div class="cs-post-item last">
                    <div class="cs-post-thumb">
                        <a href="#">
                            <img src="{% static 'enuda_mag/demo/blog/list-5.jpg' %}" alt="Divit">
                        </a>
                    </div>
                    <div class="cs-post-details">
                        <div class="cs-clearfix">
                            <div class="cs-post-categories">
                                <h5><a href="blog-category-list.html">Lifestyle</a></h5>
                            </div>
                            <div class="cs-post-meta">                                
                                <span><a href="page-author.html"><i class="fa fa-user" aria-hidden="true"></i> Smith R.</a></span>
                                <span><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Sep 4, 2017</a></span>
                                <span><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 13</a></span>
                                <span><a href="#"><i class="fa fa-bolt" aria-hidden="true"></i> 956</a></span>
                            </div>
                        </div>
                        <div class="cs-post-title">
                            <h3><a href="#">Is This How Salah Will Fit into Klopp's Liverpool Team?</a></h3>
                        </div>
                        <div class="cs-post-excerpt">
                            <p>Vestibulum bibendum arcu nec sagittis efficitur. Etiam eget lacus tincidunt, ultricies dui quis.</p>
                        </div>
                        <div class="cs-post-readmore">
                            <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div><!-- end .cs-post-item -->
                <!-- Post item -->
                <div class="cs-post-item first">
                    <div class="cs-post-thumb">
                        <a href="#">
                            <img src="{% static 'enuda_mag/demo/blog/list-8.jpg' %}" alt="Divit">
                        </a>
                    </div>
                    <div class="cs-post-details">
                        <div class="cs-clearfix">
                            <div class="cs-post-categories">
                                <h5><a href="blog-category-list.html">Food</a></h5>
                            </div>
                            <div class="cs-post-meta">                                
                                <span><a href="page-author.html"><i class="fa fa-user" aria-hidden="true"></i> James K.</a></span>
                                <span><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Sep 4, 2017</a></span>
                                <span><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 13</a></span>
                                <span><a href="#"><i class="fa fa-bolt" aria-hidden="true"></i> 956</a></span>
                            </div>
                        </div>
                        <div class="cs-post-title">
                            <h3><a href="#">Antonio Conte Close to Solving Chelsea's Striker Crisis</a></h3>
                        </div>
                        <div class="cs-post-excerpt">
                            <p>Vestibulum bibendum arcu nec sagittis efficitur. Etiam eget lacus tincidunt, ultricies dui quis.</p>
                        </div>
                        <div class="cs-post-readmore">
                            <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div><!-- end .cs-post-item -->
                <!-- Post item -->
                <div class="cs-post-item last">
                    <div class="cs-post-thumb">
                        <a href="#">
                            <img src="{% static 'enuda_mag/demo/blog/list-7.jpg' %}" alt="Divit">
                        </a>
                    </div>
                    <div class="cs-post-details">
                        <div class="cs-clearfix">
                            <div class="cs-post-categories">
                                <h5><a href="blog-category-list.html">PC</a></h5>
                            </div>
                            <div class="cs-post-meta">                                
                                <span><a href="page-author.html"><i class="fa fa-user" aria-hidden="true"></i> Smith R.</a></span>
                                <span><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Sep 4, 2017</a></span>
                                <span><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 13</a></span>
                                <span><a href="#"><i class="fa fa-bolt" aria-hidden="true"></i> 956</a></span>
                            </div>
                        </div>
                        <div class="cs-post-title">
                            <h3><a href="#">Shark Attacks 2017: Surfer Narrowly Avoids Great White</a></h3>
                        </div>
                        <div class="cs-post-excerpt">
                            <p>Vestibulum bibendum arcu nec sagittis efficitur. Etiam eget lacus tincidunt, ultricies dui quis.</p>
                        </div>
                        <div class="cs-post-readmore">
                            <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div><!-- end .cs-post-item -->
            </div><!-- end .cs-blog-two-columns -->
            <!-- Pagination -->
            <ul class="page-numbers">
                <li><span class="current">1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
            </ul><!-- end .page-numbers -->
        </div><!-- end .cs-main-content -->
        <!-- Main sidebar -->
        <div class="cs-main-sidebar cs-sticky-sidebar">
            <!-- Email widget -->
            <div class="widget widget_email_subscribe">
                <div class="widget-title"><h4>Email subscribe</h4></div>
                <h5>Like what you see?</h5>
                <h4>Subscribe to our mailing list to get fresh news!</h4>
                <form>
                    <input type="email" placeholder="Your email adress" name="Email">
                    <input type="submit" value="Subscribe" name="Subscribe">
                </form>
            </div><!-- end .widget_email_subscribe -->
            <!-- Banner widget -->
            <div class="widget widget_banner_300x250">
                <div class="banner">
                    <a href="https://themeforest.net/user/different-themes/portfolio?ref=CodeoStudio" target="_blank">
                        <img src="{% static 'enuda_mag/demo/banner/300x250.jpg' %}" alt="Divit">
                    </a>
                </div>
            </div><!-- end .widget_banner_300x250 -->
            <!-- Post widget -->
            <div class="widget widget_post_list">
                <div class="widget-title"><h4>Posts list</h4></div>
                <ul>
                    <li>
                        <div class="cs-post-item">
                            <div class="cs-post-thumb">
                                <a href="#"><img src="{% static 'enuda_mag/demo/sidebar/list-1.jpg' %}" alt="Divit"></a>
                            </div>
                            <div class="cs-post-details">
                                <div class="cs-post-title">
                                    <h3><a href="#">Starbucks's New Flavors Just As Bad As 'The Unicorn'</a></h3>
                                </div>
                                <div class="cs-clearfix">
                                    <div class="cs-post-meta">
                                        <span><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 13 Comments</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="cs-post-item">
                            <div class="cs-post-thumb">
                                <a href="#"><img src="{% static 'enuda_mag/demo/sidebar/list-2.jpg" alt="Divit"></a>
                            </div>
                            <div class="cs-post-details">
                                <div class="cs-post-title">
                                    <h3><a href="#">Transfer News: Chelsea and Liverpool Fear Losing Star</a></h3>
                                </div>
                                <div class="cs-clearfix">
                                    <div class="cs-post-meta">
                                        <span><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 98 Comments</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="cs-post-item">
                            <div class="cs-post-thumb">
                                <a href="#"><img src="{% static 'enuda_mag/demo/sidebar/list-3.jpg' %}" alt="Divit"></a>
                            </div>
                            <div class="cs-post-details">
                                <div class="cs-post-title">
                                    <h3><a href="#">How Much Is Beyoncé Worth? Singer Wants to Buy NBA Team</a></h3>
                                </div>
                                <div class="cs-clearfix">
                                    <div class="cs-post-meta">
                                        <span><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 13 Comments</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="cs-post-item">
                            <div class="cs-post-thumb">
                                <a href="#"><img src="{% static 'enuda_mag/demo/sidebar/list-4.jpg' %}" alt="Divit"></a>
                            </div>
                            <div class="cs-post-details">
                                <div class="cs-post-title">
                                    <h3><a href="#">Arsenal Identify New Target After Missing Out on Lemar</a></h3>
                                </div>
                                <div class="cs-clearfix">
                                    <div class="cs-post-meta">
                                        <span><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 158 Comments</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div><!-- end .widget_post_list -->
        </div><!-- end .main-sidebar -->
    </div>
</div><!-- end .cs-section-wrapper -->
{% endblock %}