{% extends 'enuda_mag/base.html' %}
{% load static %}


{% block content %}
<!-- Section wrapper -->
<div class="cs-section-wrapper with-padding">
    <div class="cs-container">
        <!-- Main content -->
        <div class="cs-main-content cs-sidebar-on-the-right">
            <!-- Post article -->
            <article class="cs-post-article">
                <!-- Header -->
                <header class="cs-post-single-header">
                    <div class="cs-clearfix">
                        <div class="cs-post-categories">
                            <h5><a href="blog-category-3-columns.html">Entertainment</a></h5>
                        </div>
                        <div class="cs-post-meta">                                
                            <span><a href="page-author.html"><i class="fa fa-user" aria-hidden="true"></i> Kate S.</a></span>
                            <span><a href="post-regular.html"><i class="fa fa-clock-o" aria-hidden="true"></i> Jul 9, 2017</a></span>
                            <span><a href="post-regular.html"><i class="fa fa-comments" aria-hidden="true"></i> 3</a></span>
                            <span><a href="post-regular.html"><i class="fa fa-bolt" aria-hidden="true"></i> 32</a></span>
                        </div>
                    </div>
                    <div class="cs-post-title">
                        <h1>Director Charles Martin Smith tells us the inside story of the canine masterpiece</h1>
                    </div>
                    <div class="cs-post-subtitle">
                        <h2>The case has come to define more about who we were as Americans at the dawn of the 21st century—and how ugly we are.</h2>
                    </div>
                    <div class="cs-post-share">
                        <ul>
                            <li class="facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> <span>Facebook</span></a></li>
                            <li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> <span>Twitter</span></a></li>
                            <li class="google"><a href="#"><i class="fa fa-google" aria-hidden="true"></i> <span>Google+</span></a></li>
                            <li class="tumblr"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
                            <li class="vk"><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                            <li class="pinterest"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </header><!-- end .cs-post-single-header -->
                <!-- Media -->
                <figure class="cs-post-single-media">
                    <a href="demo/big-slider/1.jpg" class="cs-lightbox-image"><img src="demo/big-slider/1.jpg" alt="Divit"></a>
                </figure><!-- end .cs-post-single-media -->
                <!-- Content -->
                <div class="cs-post-single-content">
                    <!-- Post review -->
                    <!-- end .cs-post-single-review -->
                    <p class="cs-dropcap">fdfdfd{{first_blog.content | safe }}</p>
                </div><!-- end .cs-post-single-content -->
                <!-- Post footer -->
                <div class="cs-post-footer">
                    <div class="cs-post-footer-meta">
                        <span>Tags</span>
                        <a href="#">design</a>
                        <a href="#">music</a>
                        <a href="#">art</a>
                        <a href="#">windows</a>
                    </div>
                    <div class="cs-post-footer-meta">
                        <span><i class="fa fa-link" aria-hidden="true"></i> Source</span>
                        <a href="#">Google.com</a>
                        <a href="#">Twitter.com</a>
                    </div>
                </div><!-- end .cs-post-footer -->
            </article><!-- end .cs-post-article -->
            <!-- Post components -->
            <div class="cs-post-components">
                <!-- About author -->
                <div class="cs-about-author">
                    <div class="cs-author-avatar">
                        <a href="page-author.html"><img src="demo/blog/avatar.jpg" alt="Divit"></a>
                    </div>
                    <div class="cs-author-info">
                        <div class="cs-author-name">
                            <h3><a href="page-author.html">James Cameron</a></h3>
                        </div>
                        <div class="cs-author-bio">
                            <p>Etiam et justo posuere, commodo felis et, volutpat justo. Aenean eleifend euismod tellus non consequat. Proin massa justo, faucibus vel justo ac, laoreet pellentesque.</p>
                        </div>
                        <div class="cs-author-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- end .cs-about-author -->
                <!-- Related articles -->
                <div class="cs-related-articles">
                    <!-- Section title -->
                    <div class="cs-section-title">
                        <h3>Related Articles</h3>
                    </div><!-- end .cs-section-title -->
                    <!-- Blog three columns -->
                    <div class="cs-blog-three-columns">
                        <!-- Post item -->
                        <div class="cs-post-item first">
                            <div class="cs-post-thumb">
                                <a href="post-regular.html">
                                    <div class="cs-post-icon">
                                        <i class="fa fa-play" aria-hidden="true"></i>
                                    </div>
                                    <div class="cs-post-rating" title="Rated 2 of 5">
                                        <div>
                                            <div class="cs-stars-color"></div>
                                            <div class="cs-stars-active-color" style="width: 40%"></div>
                                        </div>
                                    </div>
                                    <img src="demo/blog/column-1.jpg" alt="Divit">
                                </a>
                            </div>
                            <div class="cs-post-details">
                                <div class="cs-clearfix">
                                    <div class="cs-post-categories">
                                        <h5><a href="blog-category-list.html">Art</a></h5>
                                    </div>
                                    <div class="cs-post-meta">                                
                                        <span><a href="post-regular.html"><i class="fa fa-clock-o" aria-hidden="true"></i> Sep 4, 2017</a></span>
                                        <span><a href="post-regular.html"><i class="fa fa-comments" aria-hidden="true"></i> 13</a></span>
                                    </div>
                                </div>
                                <div class="cs-post-title">
                                    <h3><a href="post-regular.html">The Spaniard made his first appearance</a></h3>
                                </div>
                            </div>
                        </div><!-- end .cs-post-item -->
                        <!-- Post item -->
                        <div class="cs-post-item">
                            <div class="cs-post-thumb">
                                <a href="post-regular.html">
                                    <img src="demo/blog/column-2.jpg" alt="Divit">
                                </a>
                            </div>
                            <div class="cs-post-details">
                                <div class="cs-clearfix">
                                    <div class="cs-post-categories">
                                        <h5><a href="blog-category-list.html">Tv</a></h5>
                                    </div>
                                    <div class="cs-post-meta">                                
                                        <span><a href="post-regular.html"><i class="fa fa-clock-o" aria-hidden="true"></i> Sep 4, 2017</a></span>
                                        <span><a href="post-regular.html"><i class="fa fa-comments" aria-hidden="true"></i> 13</a></span>
                                    </div>
                                </div>
                                <div class="cs-post-title">
                                    <h3><a href="post-regular.html">Bruce Arena's team beat Costa Rica to reach the finals</a></h3>
                                </div>
                            </div>
                        </div><!-- end .cs-post-item -->
                        <!-- Post item -->
                        <div class="cs-post-item last">
                            <div class="cs-post-thumb">
                                <a href="post-regular.html">
                                    <div class="cs-post-rating" title="Rated 5 of 5">
                                        <div>
                                            <div class="cs-stars-color"></div>
                                            <div class="cs-stars-active-color" style="width: 100%"></div>
                                        </div>
                                    </div>
                                    <img src="demo/blog/list-3.jpg" alt="Divit">
                                </a>
                            </div>
                            <div class="cs-post-details">
                                <div class="cs-clearfix">
                                    <div class="cs-post-categories">
                                        <h5><a href="blog-category-list.html">Entertainment</a></h5>
                                    </div>
                                    <div class="cs-post-meta">                                
                                        <span><a href="post-regular.html"><i class="fa fa-clock-o" aria-hidden="true"></i> Sep 4, 2017</a></span>
                                        <span><a href="post-regular.html"><i class="fa fa-comments" aria-hidden="true"></i> 13</a></span>
                                    </div>
                                </div>
                                <div class="cs-post-title">
                                    <h3><a href="post-regular.html">Chelsea Recovers From £88M Rejection, Liverpool Rocked</a></h3>
                                </div>
                            </div>
                        </div><!-- end .cs-post-item -->
                    </div><!-- end .cs-blog-three-columns -->
                </div><!-- end .cs-related-articles -->
                <!-- Respond -->
                <div id="respond">
                    <!-- Section title -->
                    <div class="cs-section-title">
                        <h3>Leave a Comment</h3>
                    </div><!-- end .cs-section-title -->
                    <form>
                        <p class="comment-notes">
                            <span>Your email address will not be published.</span> Required fields are marked <span class="required">*</span>
                        </p>
                        <p class="comment-form-comment">
                            <label>Comment <span class="required">*</span></label>
                            <textarea placeholder="Your comment.."></textarea>
                        </p>
                        <p class="comment-form-author">
                            <label>Name <span class="required">*</span></label>
                            <input type="text" placeholder="Name">
                        </p>
                        <p class="comment-form-email">
                            <label>E-mail <span class="required">*</span></label>
                            <input type="text" placeholder="E-mail">
                        </p>
                        <p class="comment-form-url">
                            <label>Website</label>
                            <input type="text" placeholder="Website">
                        </p>
                        <p class="form-submit">
                            <input type="submit" value="Post a Comment">
                        </p>
                    </form>
                </div><!-- end #respond -->
            </div><!-- end .cs-post-components -->
        </div><!-- end .cs-main-content -->
        <!-- Main sidebar -->
        <div class="cs-main-sidebar cs-sticky-sidebar">
            <!-- Banner widget -->
            <div class="widget widget_banner_300x250">
                <div class="banner">
                    <a href="https://themeforest.net/user/different-themes/portfolio?ref=CodeoStudio" target="_blank">
                        <img src="demo/banner/300x250.jpg" alt="Divit">
                    </a>
                </div>
            </div><!-- end .widget_banner_300x250 -->
            <!-- Post widget -->
            <div class="widget widget_post_list">
                <div class="widget-title"><h4>Latest posts</h4></div>
                <ul>
                    <li>
                        <div class="cs-post-item">
                            <div class="cs-post-thumb">
                                <a href="post-regular.html"><img src="demo/sidebar/list-1.jpg" alt="Divit"></a>
                            </div>
                            <div class="cs-post-details">
                                <div class="cs-post-title">
                                    <h3><a href="post-regular.html">Starbucks's New Flavors Just As Bad As 'The Unicorn'</a></h3>
                                </div>
                                <div class="cs-clearfix">
                                    <div class="cs-post-meta">
                                        <span><a href="post-regular.html"><i class="fa fa-comments" aria-hidden="true"></i> 13 Comments</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="cs-post-item">
                            <div class="cs-post-thumb">
                                <a href="post-regular.html"><img src="demo/sidebar/list-2.jpg" alt="Divit"></a>
                            </div>
                            <div class="cs-post-details">
                                <div class="cs-post-title">
                                    <h3><a href="post-regular.html">Transfer News: Chelsea and Liverpool Fear Losing Star</a></h3>
                                </div>
                                <div class="cs-clearfix">
                                    <div class="cs-post-meta">
                                        <span><a href="post-regular.html"><i class="fa fa-comments" aria-hidden="true"></i> 98 Comments</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="cs-post-item">
                            <div class="cs-post-thumb">
                                <a href="post-regular.html"><img src="demo/sidebar/list-3.jpg" alt="Divit"></a>
                            </div>
                            <div class="cs-post-details">
                                <div class="cs-post-title">
                                    <h3><a href="post-regular.html">How Much Is Beyoncé Worth? Singer Wants to Buy NBA Team</a></h3>
                                </div>
                                <div class="cs-clearfix">
                                    <div class="cs-post-meta">
                                        <span><a href="post-regular.html"><i class="fa fa-comments" aria-hidden="true"></i> 13 Comments</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="cs-post-item">
                            <div class="cs-post-thumb">
                                <a href="post-regular.html"><img src="demo/sidebar/list-4.jpg" alt="Divit"></a>
                            </div>
                            <div class="cs-post-details">
                                <div class="cs-post-title">
                                    <h3><a href="post-regular.html">Arsenal Identify New Target After Missing Out on Lemar</a></h3>
                                </div>
                                <div class="cs-clearfix">
                                    <div class="cs-post-meta">
                                        <span><a href="post-regular.html"><i class="fa fa-comments" aria-hidden="true"></i> 158 Comments</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div><!-- end .widget_post_list -->
            <!-- Email widget -->
            <div class="widget widget_email_subscribe">
                <div class="widget-title"><h4>Email subscribe</h4></div>
                <h5>Like what you see?</h5>
                <h4>Subscribe to our mailing list to get fresh news!</h4>
                <form>
                    <input type="email" placeholder="Your email adress" name="Email">
                    <input type="submit" value="Subscribe" name="Subscribe">
                </form>
            </div><!-- end .widget_email_subscribe -->
            <!-- Tags widget -->
            <div class="widget widget_tag_cloud">
                <div class="widget-title"><h4>Tags</h4></div>
                <div class="tagcloud">
                    <a href="#">music</a>
                    <a href="#">wtf</a>
                    <a href="#">people</a>
                    <a href="#">bike</a>
                    <a href="#">girl</a>
                    <a href="#">fail</a>
                    <a href="#">city</a>
                    <a href="#">design</a>
                    <a href="#">fun</a>
                    <a href="#">style</a>
                    <a href="#">trendy</a>
                    <a href="#">tutorial</a>
                    <a href="#">video</a>
                    <a href="#">studio</a>
                    <a href="#">code</a>
                    <a href="#">crazy</a>
                    <a href="#">money</a>
                    <a href="#">people</a>
                    <a href="#">bike</a>
                    <a href="#">girl</a>
                    <a href="#">fail</a>
                    <a href="#">city</a>
                    <a href="#">design</a>
                    <a href="#">fun</a>
                    <a href="#">style</a>
                    <a href="#">trendy</a>
                    <a href="#">tutorial</a>
                </div>
            </div><!-- end .widget_tag_cloud -->
        </div><!-- end .main-sidebar -->
    </div>
</div><!-- end .cs-section-wrapper -->

{% endblock %}